{% if entry is defined and craft.request.getSegment(1)|length %}
    {% set title = entry.title %}
{% endif %}

{% include '_includes/globals' %}

<!DOCTYPE html>
<html lang="en">
<head>
  	<meta charset="utf-8">
  	<meta http-equiv="x-ua-compatible" content="ie=edge">

  	<title>{% if title is defined %}{{ title }} / {% endif %}{{ siteName }}</title>

    {% if site.description|length %}
        <meta name="description" content="{{ site.description|t }}">
    {% endif %}
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	{% if site.favicon|length %}<link rel="icon" href="{{ site.favicon.first().url }}">{% endif %}

    {% if typography.webFontSnippets is defined %}
        {{ typography.webFontSnippets|raw }}
    {% endif %}
	<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body class="{% if craft.request.isMobileBrowser(true) %}mobile{% else %}desktop{% endif %}">
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
{% include "_includes/svg_defs" %}
	<div id="wrap" class="is-entering">
    {% include '_includes/loader' %}

		{% block header %}
			<div id="header" class="container-fluid{% if layout.headerFixed %} fixed-top{% else %} pos-a-t{% endif %}  {% if craft.request.getUrl() == 'https://jhensleycrtv.frb.io/info' %}bg-light{% endif %}" style="display: none;">
				{% include "_includes/nav" %}
			</div>
			{% if menu.mainMenu|length or menu.subMenu|length %}{% include '_includes/nav_toggle_menu' %}{% endif %}
		{% endblock %}
	
		{% block navigation %}
			<nav class="nav_bar_full">
				<div class="main_header container-fluid {% if craft.request.getUrl() == 'https://jhensleycrtv.frb.io/info' %}bg-light{% endif %}">
					<div class="row">
						<div class="col-6">
							<a id="headerLinks" href="{{ siteUrl }}" class="headerLinks site-name">{{ siteName }}</a>
						</div>
						<div class="col-6">							
							<ul class="nav justify-content-end">
								{% if navigation.mainMenu %}
									{% for block in navigation.mainMenu %}
									
										<li class="nav-item">
											<a class="headerLinks nav-link" href="{{ block.entry.first().url }}">{{ block.overrideName }}</a>
										</li>
									{% endfor %}
								{% endif %}
							</ul>
						</div>
					</div>
				</div>
			</nav>
		{% endblock %}

		<div id="change">

			{% if entry.customCode|length %}
				{{ entry.customCode|raw }}
			{% endif %}
		

			{% block body %}
				<div id="content">

					{% include '_includes/styling' %}

					{% block main %}{% endblock %}
				</div>
			{% endblock %}
			{% include '_includes/footer' %}
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/packery@2/dist/packery.pkgd.js"></script>
	<script>
		// $('#pageloader').trigger('stylechanged');
        // $(document).ready(function () {
        //     $('#image-carousel').carousel({
        //         interval: 1000 
        //     });
        // });
    </script>
</body>
</html>
