{% extends "site" %}

{% block main %}
<div class="push-top">
    <div class="container-fluid">
        <div class="">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8 offset-sm-0 offset-md-0 offset-lg-2 offset-xl-2">
                    {% if entry.text|length %}
                    {{ entry.text|raw }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="info_image_section row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div id="image-carousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        {% for backgroundBanner in entry.multipleImages %}
                        <div class="carousel-item{% if loop.first %} active{% endif %}">
                            <img src="{{ backgroundBanner.url }}" class="d-block w-100" alt="">
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}